<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="calender" class="controller.Controller">
		
	</bean>

	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	<property name="service" ref="calender"/>
	<property name="serviceName" value="xxxx"/>
	<property name="serviceInterface" value="common.CalenderService"/>
	<property name="registryPort" value="1099"/>
	</bean>
</beans>